<div class="card" style="width: 33.333%;">
    
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{team}}</p>
    </div>
    <img class="card-img-top" src="{{photo}}"
        alt="">
</div>